.banner .image img {
    height: 12rem;
    width: 100%;
    opacity: .8;
}

.banner .title {
    top: 50%;
    transform: translateY(-50%);
    left:7.6%;
    font-weight: 600;
    color: #000;
    letter-spacing: 1.5px;

}

.banner .loca {
    top: 51%;
    transform: translateY(-51%);
    right:7.6%;
    background-color: #FB8602;
    color: #000;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner .loca .loc {
    color: #fff;
}