.about .t-color {
    color: #F6AF03;
}

.about .image img {
    height: 80vh;
    width: 100%;
}

.about .desc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.brands .brandImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #eee;
}

.about .locaImag img{
    height: 12rem;
}

.about .locaImag2 img{
    height: 5rem;
}