.about .t-color {
    color: #FB8602;
}

.about .image img {
    /* height: 80vh; */
    width: 100%;
}

.about .desc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.brands .brandImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #eee;
}

.about .locaImag img {
    height: 12rem;
}

.about lord-icon {
    cursor: pointer;
}


@media only screen and (min-width: 992px) {
    .about .image img {
        height: 80vh;
        width: 100%;
    }
}