.footer {
    background-color: #000;
    color: #fff;
}

.footer ul li {
    cursor: pointer;
}

.footer .line {
    width: 100%;
    height: 2px;
    background-color: #aaa;
}

.footer .copy .two {
    display: flex;
    justify-content: center;
}

.footer .title span{
    color: #fb8602;
}

.footer .subTitle span{
    color: #fb8602;
}

.footer .dev span{
    color: #fb8602;
}