* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


.mainBtn {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.mainBtn:active {
    background-color: #000;
    color: #fff;
    transform: scale(1.03);
}

.mainBtn a {
    color: #fff;
}